################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/apiUsuarios/usuarios/.vs/ProjectEvaluation
/apiUsuarios/usuarios/.vs/usuarios
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/unix/lib/net6.0
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/win/lib/net6.0
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Humanizer.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/Mono.TextTemplating.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.CodeDom.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.Drawing.Common.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.Runtime.Caching.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.Security.Permissions.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/System.Windows.Extensions.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/usuarios.deps.json
/apiUsuarios/usuarios/bin/Debug/net7.0/usuarios.dll
/apiUsuarios/usuarios/bin/Debug/net7.0/usuarios.pdb
/apiUsuarios/usuarios/obj/Debug/net7.0/ref/usuarios.dll
/apiUsuarios/usuarios/obj/Debug/net7.0/refint/usuarios.dll
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.assets.cache
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.csproj.AssemblyReference.cache
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.csproj.BuildWithSkipAnalyzers
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.csproj.CoreCompileInputs.cache
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.csproj.FileListAbsolute.txt
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.dll
/apiUsuarios/usuarios/obj/Debug/net7.0/usuarios.pdb
/apiUsuarios/usuarios/obj/project.assets.json
/apiUsuarios/usuarios/obj/project.nuget.cache
/apiUsuarios/usuarios/obj/usuarios.csproj.EntityFrameworkCore.targets
/apiUsuarios/usuarios/obj/usuarios.csproj.nuget.dgspec.json
/apiUsuarios/usuarios/obj/usuarios.csproj.nuget.g.targets
